@import "../../../styles/index.scss";

$overlay-prefix: "#{$prefix}-overlay";

.fade-enter-active, .fade-leave-active {
  transition: opacity $primary-transition;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.#{$overlay-prefix} {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.#{$overlay-prefix}--lock {
  overflow: hidden;
}

.#{$overlay-prefix}__mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
