@import '../../../styles/index.scss';
@import './variables.scss';

$input-prefix: '#{$prefix}-input';

.#{$input-prefix} {
    display: flex;
    align-items: flex-start;
    flex: 1 1 auto;
    text-align: left;
    
    .#{$input-prefix}__inner {
        width: 220px;
        border-radius: $input-border-radius;
        letter-spacing: $input-letter-spacing;
    }

    @each $name, $size in $input-sizes {
        &.#{$prefix}-size--#{$name} {
            .#{$input-prefix}__inner {
                height: #{$size}px;
                padding: 0 #{$size / 2.25}px;
                font-size: #{map-get($input-font-sizes, $name)}px
            }
        }
    }
}
