$prefix: 'm';

$body-font-family: 'ZCOOL XiaoWei', 'Roboto', sans-serif !default;
$font-size-root: 16px !default;
$line-height-root: 1.5 !default;

$border-default: 2px solid #41403e !default;

$color-white: #ffffff !default;
$color-default: #fefefe !default;
$color-primary:  #409EFF !default;
$color-success:  #67C23A !default;
$color-warning:  #E6A23C !default;
$color-danger:  #F56C6C !default;
$color-muted:  #909399 !default;

$font-weights: (
  'thin': 100,
  'light': 300,
  'regular': 400,
  'medium': 500,
  'bold': 700,
  'black': 900
) !default;

$transition: (
    'fast-out-slow-in': cubic-bezier(0.4, 0, 0.2, 1),
    'linear-out-slow-in': cubic-bezier(0, 0, 0.2, 1),
    'fast-out-linear-in': cubic-bezier(0.4, 0, 1, 1),
    'ease-in-out': cubic-bezier(0.4, 0, 0.6, 1),
    'fast-in-fast-out': cubic-bezier(0.25, 0.8, 0.25, 1),
    'swing': cubic-bezier(0.25, 0.8, 0.5, 1)
) !default;
$primary-transition: 0.3s map-get($transition, 'swing') !default;
$secondary-transition: 0.2s map-get($transition, 'ease-in-out') !default;